:root {
    --background-colour: #fafafa;
    --perimeterx-brand-colour: #ce0e2d;
    --text-color: #454545;
    --block-padding: 2em;
}
* {
    margin: 0; padding: 0; border: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    display: grid;
    grid-template-rows: auto 70vh;
    height: 100%;
    max-height: 100%;
    position: relative;
    background: var(--background-colour) url(./assorted-color-umbrella.jpg) fixed top center no-repeat;
    color: var(--text-color);
    background-size: 100% auto;
}
body, input, select, button, textarea {
    font: 100 100%/1.8 -apple-system, "BlinkMacSystemFont", "Helvetica Neue", "Helvetica", "Lucida Grande", "Arial", sans-serif;
}
header, main {
    display: flex;
}
header {
    flex-direction: column;
    justify-content: center;
    background: rgba(0, 0, 0, .3);
    text-align: center;
    color: white;
    text-shadow: -3px  3px 0 rgba(0, 0, 0, .8);
    box-shadow: inset 0 -10px 10px rgba(0, 0, 0, .5);
}
label {
    cursor: pointer;
    user-select: none;
}
header label {
    display: inline-block;
    background: var(--background-colour);
    color: black;
    text-shadow: none;
    padding: .25em 1em;
    margin: .25em;
    border-radius: 1em;
}
section, aside {
    background: var(--background-colour);
    box-shadow: 0px 0 30px -20px black;
    overflow: auto;
    transition: all .2s ease-out;
    min-width: calc(100vw / 3);
    width: 100%;
}
section {
    border: var(--block-padding) solid var(--background-colour);
}
aside {
    min-width: 30vw;
    white-space: pre-line;
    border: var(--block-padding) solid black;
    font-family: monospace;
    background: black;
}
.instructions .instructions,
.logs .logs {
    width: 0vw;
    min-width: 0vw;
    border-width: 0em;
}
.no-instructions .instructions,
.no-logs .logs {
    width: 0vw;
    min-width: 0vw;
    border-width: 0em;
}
@media (max-width: 1024px) {
    main {
        flex-direction: column;
    }
    section, aside {
        min-width: 100vw;
    }
    .no-instructions .instructions,
    .no-logs .logs {
        display: none;
    }
}
@keyframes color_change {
    from { color: rgb(0, 255, 0); }
    to   { color: rgb(175, 175, 175); }
}
aside p {
    color: rgb(175, 175, 175);
    animation: color_change 10s;
    border-bottom: 1px solid rgb(75, 75, 75);;
    padding-bottom: .25em;
    &.debug {
        filter: brightness(.75);
    }
    &:nth-child(17) { color: rgb(125, 125, 125) }
    &:nth-child(18) { color: rgb(100, 100, 100) }
    &:nth-child(19) { color: rgb(75, 75, 75) }
    &:nth-child(20) { color: rgb(25, 25, 25) }
    &:nth-child(n+20) { display: none; }
}
.no-debug aside p.debug {
    display: none;
}

a {
    color: inherit;
}
form {
    transition: filter .2s;
}
.loading form {
    filter: opacity(0.5);
}
input, select, button, textarea {
    border: 1px solid #ccc;
    background: white;
}
input {
    text-indent: .25em;

    &:invalid {
        border-color: var(--perimeterx-brand-colour);
        background: #ffeaa7;
    }
}
button {
    cursor: pointer;
    display: block;
    width: 80%;
    margin: .5em auto;
    border-radius: 5px;

    &:hover {
        border-color: var(--text-color);
        background: var(--background-colour);
    }
}
form label {
    display: block;
    padding-bottom: .5em;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}
textarea {
    width: 100%;
    max-width: 100%;
    height: 7em;
}
h3, p, label {
    margin: 0 0 .5em;
}
/**
 * Custom styles using custom className
 */
dialog.my-challenge-popup {
    font-size: .9em;

    > div {
        border: 1px solid black;
        border-radius: 3px;
    }

    .title {
        font-weight: bold;
    }
}
a.repo {
    z-index: 23456;
    position: fixed;
    top: 1em;
    right: 1em;
    background: #fff;
    border-radius: 50%;
    padding: .25em;
    transition: transform .3s ease-out;

    &:hover {
        transform: rotate(360deg);
    }
}
.super-high-z-index {
    position: absolute;
    top: 0;
    left: -1px;
    width: 1px;
    height: 1px;
    z-index: 2000000000; /* Google reCAPTCHA challenge */
}
