body, input, select, button, textarea {
    font: 100 100%/1.8 -apple-system, "BlinkMacSystemFont", "Helvetica Neue", "Helvetica", "Lucida Grande", "Arial", sans-serif;
}
label {
    display: block;
    margin: 0 1em 1em 0;
}
textarea {
    width: 100%;
    max-width: 100%;
    height: 5em;
}
form {
    transition: filter .2s;
}
.loading form {
    filter: opacity(0.5);
}
dialog.my-challenge-popup {
    font-size: .9em;
}
dialog.my-challenge-popup > div {
    border: 1px solid black;
    border-radius: 3px;
}
dialog.my-challenge-popup .title {
    font-weight: bold;
}
