:root {
    --background-colour: #fafafa;
    --perimeterx-brand-colour: #ce0e2d;
    --block-padding: 2em;
    --footer-height: 6em;
}
* {
    margin: 0; padding: 0; border: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
    position: relative;
    background: var(--background-colour) url(./assorted-color-umbrella.webp) fixed top center no-repeat;
    background-size: cover;
    padding-bottom: var(--footer-height);
}
body, input, select, button, textarea {
    font: 100 100%/1.8 -apple-system, "BlinkMacSystemFont", "Helvetica Neue", "Helvetica", "Lucida Grande", "Arial", sans-serif;
}
header, section, footer {
    padding: var(--block-padding);
}
header {
    background: rgba(0, 0, 0, .3);
    padding: 3em;
    text-align: center;
    color: white;
    text-shadow: -3px  3px 0 rgba(0, 0, 0, .8);
    box-shadow: inset 0 -10px 10px rgba(0, 0, 0, .5);
}
section {
    background: var(--background-colour);
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: var(--perimeterx-brand-colour);
    text-align: right;
    color: white;
    height: var(--footer-height);
}
a {
    color: inherit;
}
form {
    transition: filter .2s;
}
.loading form {
    filter: opacity(0.5);
}
input, select, button, textarea {
    border: 1px solid #ccc;
    background: white;
}
input, select {
    text-indent: .5em;
}
input:invalid {
    border-color: var(--perimeterx-brand-colour);
    background: #ffeaa7;
}
label {
    display: block;
    cursor: pointer;
    user-select: none;
}
textarea {
    width: 100%;
    max-width: 100%;
    height: 7em;
}
h3, p, label {
    margin: 0 0 .5em;
}
/**
 * Custom styles using custom className
 */
dialog.my-challenge-popup {
    font-size: .9em;
}
dialog.my-challenge-popup > div {
    border: 1px solid black;
    border-radius: 3px;
}
dialog.my-challenge-popup .title {
    font-weight: bold;
}
